body {
    background-color: rgb(240, 139, 7);
    height: 100vh;
}
.project-section {
    background-color: royalblue;
    width: 100%;
    height: 100vh; /* Ensure it takes the full viewport height */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative; /* Ensure proper positioning */
}

.projects-container{
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 13 / 3;
    width: 100%;
    height: 100%;
    background-color: saddlebrown;
}
  

.project-container a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}
    
.project-container a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight on hover */
}

.projects-header{
    border: 1px solid rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.1);
    
}
  

.projects-header > p{
    font-size: 10px;
}

.projects-header > button {
    height: 20px;
    font-size: 5px;
    border-radius: 15px;
    border: none;
}

.projects-todo-container {
    grid-area: 1 / 3 / 13 / 13;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    overflow-y: auto;
}
  

