body {
    background-color: #f5f5f5;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-section {
    background-color: #3b5998;
    width: 90%;
    height: 90vh; /* Ensure it takes most of the viewport height */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.projects-container {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 13 / 5;
    background-color: #ff6f61;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    overflow-y: auto;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    /* padding: 10px; */
    border-radius: 10px;
    margin-bottom: 10px;
}

.projects-header > p {
    font-size: 18px;
    margin: 5px 0;
}

.projects-header > button {
    font-size: 10px;
    height: 30px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.projects-header > button:hover {
    background-color: #0056b3;
}

.projects-todo-container {
    grid-area: 1 / 3 / 13 / 13;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

.projects-container ul,
.projects-todo-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects-container li,
.projects-todo-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: white;
}

.projects-container li:last-child,
.projects-todo-container li:last-child {
    border-bottom: none;
}

.to-do-button {
    width: 100px;
    height: 40px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    align-self: center;
}

.to-do-button:hover {
    background-color: #e55a4f;
}

dialog {
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

dialog form {
    display: flex;
    flex-direction: column;
}

dialog form input,
dialog form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

dialog form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

dialog form button:hover {
    background-color: #218838;
}
